<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ATSApplicationFontsPath</key>
	<string></string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.84784545087-eae20phpcgkv089tst1qdkicqcictusi</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>platemate.ai.peakmind-mvp</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>pendo-pairing</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>pendo-68bd41f7</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>84784545087-eae20phpcgkv089tst1qdkicqcictusi.apps.googleusercontent.com</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>x-apple-health</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>SF-Pro-Display-Bold.otf</string>
		<string>SF-Pro-Display-Black.otf</string>
		<string>SF-Pro-Display-BlackItalic.otf</string>
		<string>SF-Pro-Display-Medium.otf</string>
		<string>SF-Pro-Text-Bold.otf</string>
		<string>SF-Pro-Text-Heavy.otf</string>
		<string>SF-Pro-Text-Light.otf</string>
		<string>SF-Pro-Text-Medium.otf</string>
		<string>SF-Pro-Text-Regular.otf</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>&lt;key&gt;LSApplicationQueriesSchemes&lt;/key&gt;
&lt;array&gt;
    &lt;string&gt;App-Prefs&lt;/string&gt;
&lt;/array&gt;</string>
</dict>
</plist>
